body {
    color: white;
    background-image: url('https://wallpapers.com/images/high/3d-arrows-dark-background-7ozru27aabzpevar.webp');
    background-size: 1440px 900px;
    background-repeat: no-repeat;
}